* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lemonchiffon;
    min-height: 100vh;
}

header, form {
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.3rem;
    font-size: 2rem;
    border: none;
    background:#fff;
}

form button {
    color: #060827;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s easy;
}

form button:hover {
    background: #060827;
    color: #fff;
}